h2{
    font-family: Montserrat;
    margin-left: 50px;
}
h1{
    font-family: Philosopher;
    margin-left: 50px;
    margin-right: 50px;
}
h3{
    font-family: Montserrat;
    margin-left: 50px;
    margin-right: 50px;
}
ul{
    font-display: fallback;
    text-align: center;
    padding: 20px 20px 20px 20px; 
    font-family: Montserrat;
    text-align: center;
    word-spacing: 225px;
    background-color: rgb(245, 171, 171);
}

ul a:link {
    text-decoration: none;
    color: white;
  }  
ul a:hover {
    color: #691010;
  }  

button{
    margin-left: 50px;
    background-color: #92ceff;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
footer{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
  }
hr{
    border-width: 1px;
    border-color: black;
    width: 50%;

}
.center{
    font-family: Montserrat;
    text-align: center;
}
.change{
    border-radius: 50px;
}


  
